.movie-list {
    list-style-type: none;
    margin: 3rem 0;

    &__item {
        background-color: $color-white;
        border: 1px solid darken($color-light, 5);
        border-radius: 5px;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}